<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Дата создания</th>
            <th>Дата модификаций</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts; let idx = index" class="cursor-pointer">
            <td [routerLink]="['/post', post.id]">{{ idx + 1 }}</td>
            <td [routerLink]="['/post', post.id]">{{ post.title }}</td>
            <td [routerLink]="['/post', post.id]">{{ post.createdDate }}</td>
            <td [routerLink]="['/post', post.id]">{{ post.modifiedDate }}</td>
            <td class="action">
                <button mat-button [routerLink]="['/admin', 'update-post', post.id]">Изменить</button>
                <button mat-button (click)="remove(post.id)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>