<div class="container">
    <div class="col-md-8 offset-md-2">

        <div class="content-center">
            <div class="text-center mt-5">
                <img class="main-image my-3"
                    src="https://sun9-6.userapi.com/-hXM_WirVtRLOfJl_V9ol3--vbMhiwvcU525Nw/yW32umFo1ds.jpg">

                <h5 class="mt-3 text-300">
                    Привет! Мне 20лет, Я джуниор фуллстек разработчик, в программирований пол года,
                    и за это время успел разработать такие проекты как: Блог на Angular, cайт для продажи курсов на
                    NodeJS, a так-же сайт на котором вы сейчас находитесь.
                </h5>
            </div>
        </div>

        <br>
        <br>
        <br>

        <h3>Pet projects</h3>
        <p>
            <a href="https://github.com/dumandaulbekov?tab=repositories">Исходный код проекта (GitHub)</a>
        </p>

        <div class="pet-project-container">
            <a class="pet-project" routerLink="/todoist">
                <h5>Agile board</h5>
                <p>Для эффективного планирования и визуализации рабочиего процесса.</p>
                <button mat-button color="primary">Подробней</button>
            </a>

            <a class="pet-project" routerLink="/posts">
                <h5>Posts</h5>
                <p>Личный блог. Создание, удаление и редактирование постов.</p>
                <button mat-button color="primary">Подробней</button>
            </a>
        </div>

        <br>
        <br>

        <div class="experience mt-3">
            <h3>Опыт работы</h3>
            <div class="orange-border">
                <strong>
                    <mat-icon>work</mat-icon>
                    Intern
                </strong>
                <p class="font-weight-light font-italic">February 2019 - June 2019 </p>
                <div>
                    <p>
                        Проходил курс обучения по C# в компаний Sunwer. За это время реализовал 2 дипломные работы:
                    </p>
                    <ul>
                        <li>1 - Каталог игр для детей возраста +6</li>
                        <li>2 - Учёт школьников посетивших столовую, сколько они сьели килокалории, и соблюдали ли они
                            определенно заданную норму</li>
                    </ul>
                </div>
            </div>

            <div class="orange-border">
                <strong>Frontend developer</strong>
                <p class="font-weight-light font-italic">June 2019 - February 2020</p>
                <p>Norsec Delta Project</p>
                <p class="muted">
                    Проходил стажировку/работал над внутренними проектами как front-end разработчик на Angular.
                    Принимал участие/исправлял код/баги на .NET Core.
                </p>
            </div>
        </div>

        <br>

        <div class="experience mt-3">
            <h3>Образование</h3>
            <div class="orange-border">
                <strong>ВТиПО</strong>
                <p class="font-weight-light font-italic">2016 - 2020</p>
                <p>Колледж Менеджмента и Бизнеса</p>
            </div>
        </div>

        <br>

        <h3>Контакты</h3>

        <div class="icons">
            <!--GitHub-->
            <a target="_blank" href="https://github.com/dumandaulbekov">
                <i class="fab fa-github"></i>
            </a>
            <!--GitLab-->
            <a target="_blank" href="https://gitlab.com/dumandaulbekov">
                <i class="fab fa-gitlab"></i>
            </a>
            <!--Gmail-->
            <a href="mailto:dumandaulbekov@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
            <!--LinkedIn-->
            <a target="_blank"
                href="https://www.linkedin.com/in/%D0%B4%D1%83%D0%BC%D0%B0%D0%BD-%D0%B4%D0%B0%D1%83%D0%BB%D0%B1%D0%B5%D0%BA%D0%BE%D0%B2-511721197/">

                <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- Telegram -->
            <a target="_blank" href="https://t.me/dumandaulbekov">
                <i class="fab fa-telegram"></i>
            </a>
        </div>

        <br><br><br><br><br><br><br>

    </div>
</div>