.main-image {
    border-radius: 50%;
    max-width: 160px;
    max-height: 160px;
}

.icons {
    font-size: 32px;

    a {
        padding: 0 12px;
    }
}

.orange-border {
    border-left: 4px solid orange;
    padding-left: 16px;
}

.pet-project-container {
    display: flex;
    align-items: center;

    .pet-project {
        color: black;
        border: 1px solid black;
        border-radius: 5px;
        padding: 15px;
        width: 200px;
        height: 200px;
        margin-right: 15px;
        text-decoration: none;
    }
}
