<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
        <form [formGroup]="postForm" (ngSubmit)="submitPostForm()">
            <mat-form-field>
                <mat-label>Название</mat-label>
                <input #title matInput type="text" formControlName="title">
                <mat-hint align="end">{{title.value?.length || 0}}/200</mat-hint>
                <mat-error align="end" *ngIf="postFormControls.title.errors?.required">
                    Введите название для поста
                </mat-error>
                <mat-error align="end" *ngIf="postFormControls.title.errors?.maxlength">
                    Вы превысили отведенный лимит {{200-title.value?.length}}</mat-error>
            </mat-form-field>
            <br>

            <mat-form-field>
                <mat-label>Контент</mat-label>
                <textarea matInput type="text" formControlName="content"></textarea>
                <mat-error align="end" *ngIf="postFormControls.content.errors?.required">
                    Напишите что нибудь для вашего поста
                </mat-error>
            </mat-form-field>

            <div class="d-flex justify-content-between">
                <button mat-button>Отмена</button>
                <button mat-button type="submit" [disabled]="postForm.invalid">Обновить</button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>