<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5">
        <form [formGroup]="postForm" (ngSubmit)="submitPostForm()">
            <mat-form-field>
                <mat-label>Название</mat-label>
                <input #title matInput type="text" formControlName="title">
                <mat-hint align="end">{{title.value?.length || 0}}/200</mat-hint>
                <mat-error align="end" *ngIf="postFormControls.title.errors?.required">
                    Введите название для поста
                </mat-error>
                <mat-error align="end" *ngIf="postFormControls.title.errors?.maxlength">
                    Вы превысили отведенный лимит {{200-title.value?.length}}</mat-error>
            </mat-form-field>
            <br>

            <quill-editor formControlName="content"></quill-editor>
            <mat-error align="end" *ngIf="postFormControls.content.errors?.required">
                Напишите что нибудь для вашего поста
            </mat-error>

            <div class="d-flex justify-content-between">
                <button mat-button type="button" [routerLink]="['/post', post?.id]">Отмена</button>
                <button mat-button type="submit" [disabled]="postForm.invalid">Обновить</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>