<div *ngIf="post$ | async as post; else loading">
    <div class="post">
        <div class="header">
            <h1>{{ post.title }}</h1>

            <button routerLink="/" class="btn btn-link">Main</button>
        </div>

        <div class="info">
            <small>{{ post.modifiedDate }}</small>
        </div>

        <div>
            {{post.content}}
            <!-- <quill-view-html [content]="post.content"></quill-view-html> -->
        </div>
    </div>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>