@import "~@angular/material/theming";

@include mat-core();

$portfolio-frontend-primary: mat-palette($mat-indigo);
$portfolio-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

$portfolio-frontend-warn: mat-palette($mat-red);

$portfolio-frontend-theme: mat-light-theme(
  (
    color: (
      primary: $portfolio-frontend-primary,
      accent: $portfolio-frontend-accent,
      warn: $portfolio-frontend-warn,
    ),
  )
);

@include angular-material-theme($portfolio-frontend-theme);

@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

html,
body {
  height: 100%;
  // background-color: #edeef0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cursor-pointer {
  cursor: pointer;
}

.text-300 {
  font-weight: 300;
}