@import '~@angular/material/theming';

@include mat-core();

$portfolio-frontend-primary: mat-palette($mat-indigo);
$portfolio-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

$portfolio-frontend-warn: mat-palette($mat-red);

$portfolio-frontend-theme: mat-light-theme((
  color: (
    primary: $portfolio-frontend-primary,
    accent: $portfolio-frontend-accent,
    warn: $portfolio-frontend-warn,
  )
));

@include angular-material-theme($portfolio-frontend-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
